<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<title>Pears - Home Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'social/login/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'social/login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'social/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'social/login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'social/login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'social/login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'social/login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'social/login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'social/login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'social/login/css/util.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'social/login/css/main.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" href="{% static 'social/signup/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Main css -->
 <!--===============================================================================================
 	<link rel="stylesheet" href="{% static 'social/signup/css/style.css' %}">-->
 <!--===============================================================================================-->
 </head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static 'social/login/images/bg-01.jpg' %}');">
			<div class="wrap-login100">
<form method="POST">{%csrf_token%}

						<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

						<div class="form-group wrap-input100">
                            <input type="text" class="form-input input100" name="un" id="username" placeholder="UserName"/>
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>
                        
                        <div class="form-group wrap-input100">
                            <input type="text" class="form-input input100" name="ps" id="password" placeholder="Password"/>
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>
                        <div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Login
						</button>
					</div>
					<div class="text-center p-t-90">
						
						<a class="txt1" href="{% url 'signup'%}">
							Create an account
						</a>
					</div>


</form>
</div>
</div>
</div>
</body>
</html>