<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pears - Sign Up Form</title>
    <link rel="icon" href="{% static 'social/assets/img/logo.png' %}">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'social/signup/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'social/signup/css/style.css' %}">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" enctype="multipart/form-data" id="signup-form" class="signup-form">{%csrf_token%}
                        <h2 class="form-title"><b>Step 2</b> - Create Profile</h2>
                        
                        <div class="form-group">
                            <input type="file" class="form-input" name="f" id="email" placeholder="Your Email"/ style="width: 0.1px; height: 0.1px; opacity:0;overflow: hidden;position: absolute; z-index: -1;">
                            <label class="form-input" for="email">Choose a file<span class="glyphicon glyphicon-folder-open"></span></label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="name" id="username" placeholder="Your Name"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="bio" id="password" placeholder="Write you bio"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Create Profile"/>
                        </div>
                    </form>
                    <p class="loginhere">
                    Already have an account ? <a href="login.html" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>